<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nanoconnect.co.jp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityParcelAndRecipient"></activity>
        <activity android:name=".ActivityAidlJanken" />
        <activity android:name=".ActivityAidlJankenOther" />
        <activity android:name=".ActivityListenerTest" />
        <activity android:name=".ActivityBroadcast" />
        <activity android:name=".ActivityLifeCycleService" />
        <activity android:name=".ActivityLifeCycleActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".LifeCycleService" />
        <service android:name=".BroadcastService" />
        <service android:name=".AIDLJankenService">
            <intent-filter>
                <action android:name="nanoconnect.co.jp.Action_Bind" />
            </intent-filter>
        </service>

        <receiver
            android:name=".ActivityBroadcast$testBroadcastReciever"
            android:enabled="true"
            android:exported="true">
            <intent-filter>

                <!-- action名はActivityで指定しているものを同じでなければならない -->
                <action android:name="nanoconnect.co.jp.activitybroadcast" />
            </intent-filter>
        </receiver>
    </application>

</manifest>